@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');
body {
    background: #85adad;
    color: white;
}
pre{
    font-family: 'Raleway', sans-serif;
}
button {
    background: #476b6b;
    color: white;
    border-radius: 10px;
    margin: 5px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
}
.r {
    background-color: red;
}
.y {
    background-color: yellow;
}
.g {
    background-color: green;
}
.o {
    background-color: #ff6666;
}
.bg {
    background-color: #b3b300;
}
.wg {
    background-color: #ace600;
}
