body {
  font-family: "Relaway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  background: #fff;
}

body header {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

body header .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

body header .container .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #515369;
  padding: 35px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container .header__inner nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

body header .container .header__inner nav .nav__link {
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

body header .container .header__inner nav .nav__link:first-child {
  margin-left: 0;
}

body header .container .header__inner nav .nav__link:hover {
  opacity: 1;
}

body .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  height: 750px;
  background: #31344e url("../img/header/intro-bg.jpg") no-repeat center/cover;
}

body .intro .container .intro__inner {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body .intro .container .intro__inner .intro__title {
  font-weight: 700;
  font-size: 65px;
  line-height: 1.1;
  font-family: "Open Sans";
  color: #fff;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

body .intro .container .intro__inner .intro__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 60px;
  color: #fff;
}

body .intro .container .intro__inner .btn {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
  padding: 14px 40px;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

body .intro .container .intro__inner .btn--red {
  background: #e84545;
}

body .intro .container .intro__inner .btn--red:hover {
  background: #b62727;
}
