.title, .galery {
	margin: 0 auto;
	max-width: 600px;
}

.title h1 {
	text-align: center;
}

.galery a {
	display: block;
	margin: 0 auto;
	max-width: 600px;
}

.galery img {
	display: block;
	margin: 0 auto;
}