@import "_nullstyle";

$fz: 80px; // переменная задает значения для того, где она используется
$color_1: #000;
$color_2: rgb(223, 13, 13);

// шаблон
%tplborder {
    border-bottom: 5px dotted red;
}
// создание mixin 
@mixin fontz($f,$c) {
    font-size: $f;
    color:$c;
}

.block {
    font-size: 25px;
    line-height: 20px;
    padding: 30px;
    width: 300px / 960px *100%;// вычисление процентов для создания блоков
    background-color:#666 ;
    // operator & refer to parent class
    // > it's mean what this applied an paragraf 1 level
    // >p{
    //     color:red;
    // }

    .block__text {
        font-size: $fz;
        span {
            color: $color_1;
        }
    }
}

.link {
    color: $color_2;
    text-decoration: underline;
    font-size: $fz;
    .block & {
        font-size: $fz;
    }

    &:hover {
        color: green;
    }
    @extend %tplborder;// подключаем шаблон
}

.link-2 {
    @include fontz(50px,blue);
    @extend %tplborder;
    border-bottom:5px dashed #000;
}
