*{
    box-sizing: border-box;
    list-style: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: -webkit-box; /*Для поддержки браузеров*/
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    transform: translate3d(0,0,0);
}

.clearfix {
    zoom:1;
}

.clearfix:before, .clearfix:after {
    content: "\0020" ;
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

body {
    background: #101010;
}

ul {
    position: relative;
    transform: rotate(-35deg) skew(20deg, 5deg);
}

.item {
    background: #101010;
    color: #ff0000;
    text-align: center;
    height: 2.5em;
    width: 4em;
    vertical-align: middle;
    line-height: 2.5em;
    border-bottom: 1px solid #060606;
    position: relative;
    display: block;
    text-decoration: none;
    box-shadow: -2em 1.5em 0 #060606;
    background: 0.1s linear, color 0.1s linear;
    transition: top 0.25s linear, left 0.25s linear;
}

.item:nover:before, .item:hover:after {
    transition: all 0.25s linear;
}

.item:hover:before {
    background: #ff0000;
    width: 1em;
    top: 0.5em;
    left: -1em;
}

.item:hover:after {
    background: #ff0000;
    width: 1em;
    bottom: -2.5em;
    height: 4em;
    left: 1em;
}

.item:before, .item:after {
    transition: all 0.25s linear;
}

.item:after {
    content: "";
    position: absolute;
    height: 4em;
    background: #181818;
    width: 0.5em;
    bottom: -2.25em;
    left: 1.5em;
    transform: rotate(90deg) skew(0deg, 45deg);
}

.item:before {
    content: "";
    position: absolute;
    height: 2.5em;
    background: #121212;
    width: 0.5em;
    top: 0.215em;
    left: -0.45em;
    transform: skewY(-45deg);
}






















































